button {
	-webkit-font-smoothing: antialiased;
	font: inherit;
	border: none;
	background: transparent;
	cursor: pointer;
	outline: none;
	line-height: inherit;
	user-select: none;
	-webkit-appearance: none;
}

span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
code,
em,
img,
small,
strong,
sub,
sup,
tt,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
}

select::-ms-expand {
	display: none;
}

b {
	font: inherit;
	font-size: 100%;
	font-weight: 500;
	vertical-align: baseline;
}
